
*{
	margin:0;
	padding: 0;
}

body{
 font-family: calibri;
}

header{
	background-color: #28abe3;
}

header .logo{
 width:70px;
 margin-top:5px;
 margin-right: 5px;
 float: left
 }

}
header h1{
	text-align:center;
	font-size:4em;
	padding:10px;
	color:white;
	text-shadow:grey;
	font-family: arial;
}	

/* ------------Nav Bar ------  */

nav ul{
	background-color: #2980b9;
}

nav ul li,
nav ul li a{
display: inline-block;
color: #FFF;
}

nav ul li a:link,
nav ul li a:visited{
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s;
}
nav ul li a:hover,
nav ul li a:active{
	background-color: #409ad5;
}

nav .search{
	float:right;
	margin-top: 9px;
	margin-right:15px;
	width:10%;
	height:25px;
	text-indent:8px;
	border-radius: 4px;
}	

/* Body Section style---*/

section{
	background-color: #efefef;
	width:70%;
	float: left;
	margin: 10px;
	
}

article{

}

article .img{
	width:60px;
	height: 60px;
	margin: 2px;
	float:left;
	border-radius: 5px;
}

article .night_London{
	width:100%;
	height: 500px;

}

article p {
	text-indent:50px; 
	padding: 5px;
}

article a{
	color:brown;
}

article .street_art{
	width:90%;
	height: 500px;

}

/* --- sidebar decoration--*/

aside{
	background-color: #efefef;
	float: right;
	margin: 10px;
	width: 25%;

}

aside h2{
	text-align: center;
	background-color: #28abe3;
	color: white;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}

aside ul{

}

aside ul li,
aside ul li a {
text-indent:10px;
display: block;
padding: 5px;
text-decoration:none;	
}

aside ul li a :link,
aside ul li a : visited {
	text-decoration:none;	
	font-size: 1.1em;
	color: #000;
}

aside ul li a:hover,
aside ul li a:active{
	text-indent: 20px;
	background-color: #cfcfcf;
}

aside .booth2{
	width: 100%;
	margin-top: 50px;

}
footer{
	clear: both;
	padding: 20px;
	background-color: #28abe3;
	text-align: center;
}