
*{
	margin:0;
	padding: 0;
}

body{
 font-family: calibri;
}

header{
	background-color: #28abe3;
}

header img{
 width:70px;
 margin-top:5px;
 margin-right: 5px;
 float:left;
}

header h1{
	text-align:center;
	font-size:4em;
	padding:10px;
	color:white;
	text-shadow:grey;
	font-family: arial;
}	

/* Nav Bar   */

nav ul{
	background-color: #2980b9;
}

nav ul li,
nav ul li a{
display: inline-block;
color: #FFF;
}

nav ul li a:link,
nav ul li a:visited{
	text-decoration: none;
	padding: 10px;
	transition: all 0.2s;
}
nav ul li a:hover,
nav ul li a:active{
	background-color: #409ad5;
}

nav .search{
	float:right;
	margin-top: 9px;
}	